<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Bill</h1>

<table>

    <tr>
        <td>billnumber</td>
        <td>productname</td>
        <td>productqty</td>
        <td>amount</td>
    </tr>
{%for item in items%}
    <tr>
        <td>{{item.bill_number}}</td>
        <td>{{item.product_name}}</td>
        <td>{{item.product_qty}}</td>
        <td>{{item.amount}}</td>
    </tr>
    {%endfor%}

</table>
{%if total%}
 <h1>total{{total}}</h1>
{%endif%}
</body>
</html>
